footer {
  max-width: 100vw;
  margin: 0 auto;
  padding: 3rem;
  // padding-left: 10rem;
  // padding-right: 10rem;
  background-color: #F8F8F8;
  
  a {
    text-decoration: none;
  }

  & ul {
    text-decoration: none;
    list-style: none;
    padding: 0;

  }
}

.footer-links {
  display: flex;
  justify-content: space-between;

  .footer-item-box {
    display: flex;
    gap: 5em;
    margin-bottom: 2rem;
  }

  .footer-social ul{
    display: flex;
    gap: 2rem;

    li {
      // background-color: #2F8647;
      a {
        color: #2F8647;
      } 
    }
  }
}
.footer-item {
  font-size: 1rem;
  line-height: 150%;
}

.footer-title {
  font-weight: 600;
  color: $primary-bg;
}

.footer-list {
  line-height: 2rem;
}

.footer-item ul {
  font-weight: 400;
}

.footer-item ul > li > a:link,
.footer-item ul > li > a:visited {
  color: $black;
}

.footer-ending {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  gap: 1.5rem;
  border-top: 1px solid #E4E6ED;

  a {
    color: $black;
  }

  :not(.links) p {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .links a:first-child {
    margin-right: 51px;
  }
}



// 404 page styles
.pageStyles {
  color: #232129;
  padding: 96px;
  font-family: '-apple-system, Roboto, sans-serif, serif';
  
};
.headingStyles {
  margin-top: 3%;
  text-align:center;
  font-size:230px;
  color:#ffffff;
};
@media (max-width: 1100px){
  .headingStyles{
    font-size:150px; 
  }
 
}

.paragraphStyles{
  color:#ffffff;
  text-align:center;
  font-size:24px;
  font-weight:600;
  line-height: 125%;
  
}

@media (max-width: 850px){
  .paragraphStyles{

    font-size:16px;    
  }
 
}

.buttonStyles{
  color:#2F4786;
  text-align:center;
  font-size:18px;
  background-color:#ffffff;
  padding: 12px 32px;
  border-radius: 50px;
  
};


/* SECTION_FOOTER_MOBILE */

@media screen and (max-width: 600px) {
  .footer-links {
    flex-direction: column;
    .footer-item-box {
      flex-direction: column;
      gap: 2rem;
    }
    .heading{
      font-size:104px,
    }
    .heading-subtitle{
      font-size: 14px;
    }
  }
  .footer-ending {
    padding-top: 1.5rem;
    flex-direction: column;

    :not(.links) p {
      display: inline-block;
    }
  }
}
