/* HEADER */

.header {
  height: 96px;
  width: 100vw;
  padding: 28px 0;
  box-sizing: border-box;

  &.header-default {
    box-shadow: inset 0px -0.5px 0px #e4e6ed;
  }
  &.header-transparent {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &.header-primary {
    background: $primary-bg;
  }

  position: relative;
  z-index: 1;

  > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 90%;
    height: 40px;
    margin: 0 auto;
  }
}

.header__language-switcher {
  display: flex;
  align-items: center;

  &:link,
  &:visited {
    text-decoration: inherit;
    color: $black;
    cursor: pointer;
  }

  svg {
    margin-right: 8px;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-item a:link,
.nav-item a:visited {
  text-decoration: none;
  color: $black;
  font-size: 16px;
  cursor: pointer;
}

/* For use on pages with transparent nav */

.header-primary,
.header-transparent {
  .header__language-switcher:link,
  .header__language-switcher:visited {
    color: #fff;

    svg path {
      stroke: #fff;
    }
  }

  .header__logo-container {
    a:link,
    a:visited,
    a:hover {
      background-image: url(/images/logo-horizontal-white.svg);
    }
  }

  .nav-item a:link,
  .nav-item a:visited {
    color: #fff;
  }
}

.header__logo-container {
  display: flex;
  align-items: center;

  a:link,
  a:visited,
  a:hover {
    color: transparent;
    width: 160.38px;
    height: 56px;
    background-image: url(/images/logo-horizontal.svg);
  }
}

/* END_HEADER */
