// Define variables for your color scheme
$primary: #2f4786;
$primary-bg: #2f4786;
$primary-dark: #1f2f59;
$primary-light: #92a8e3;
$light-grey: rgba(10, 10, 10, 0.3);
$dark-grey: rgba(10, 10, 10, 0.8);
$black: #020305;
$white: #ffffff;
$green: #00BA88;
$extra-light-grey : #f8f8f8;

