.news-headline {
  width: 100%;
  height: 18rem;
  border-radius: 1rem;

  margin: 0 auto;
  margin-bottom: 2rem;

  position: relative;
  text-align: center;
  color: white;

  background-image: linear-gradient(rgba(10,10,10,0.6) 0%, rgba(10,10,10,0.8) 100%);

}

.headline-content {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 2px 2px rgba(10,10,10,0.8);

  h3 {
    font-size: clamp(1.5rem, 4vw, 2rem);
  }
}


// News Item

.news-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-between;
  align-items: center;
  margin-top: 2em;
  margin-left: 20vw;
  margin-right: 20vw;
  border-bottom: solid 2px #e4e2e0;
  padding-bottom: 2em;
  

  img {
    width: 100%;
    object-position: 50% 50%;
    border-radius: 20px;
    
  }

}

.news-item__image {
  width: 20vw !important;
  border: solid 1px #e4e2e0;
  display: flex;
  justify-content: center;
  align-items: center;

  // padding: 1.5rem;

  border-radius: 20px;
}
.news-item__content{
  margin-right: 2%;
  width: 60%;
}


.news-content-title {


  h3 {
    margin-bottom: 0.5em;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
  }
}

.news-content-date p{
  color: #595959;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 0.5em;
}

.news-content-link a{
  color: $green;
  text-decoration: none;
  cursor: pointer;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
}

.news-item:hover {
  .news-content-link a{
    color: #02d99f; /*change later*/
  }
}





@media only screen and (max-width: 1230px) {
  .news-item {
    width: 70%;
  }
  .news-item__image {
    width: 30% !important;

  }

  .news-item__image img {
    width: 100%;
    object-position: 50% 50%;
    border-radius: 0px;
    
  }
  .news-content-link a{
    font-size: 16px;
  }
  .news-content-title {


    h3 {
      font-size: 16px;

    }
  }
}
