

.container__articles {

  h2 {
    max-width: 584px;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    text-decoration: none;
  }
}

.news-container {
  margin: 0 auto;
  border-top: solid 2px #e4e2e0;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  // flex-wrap: wrap;
  // justify-content: space-between;
}
.news-container__more{
  background: $green;
  color: $white;
  border-radius: 50px;
  border: none;
  padding: 10px 30px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  
}

@media screen and (max-width: 750px) {
  .container__articles {
    width: auto;
    max-width: 680px;
  }
}
