.container__articles {
  max-width: 716px;
  margin: 0 auto;
  margin-left: 1rem;
  margin-right: 1rem;

  h2 {
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}

.news-container {
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
