.hos-banner {
  height: 90vh;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
}

.hos-banner__text {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;

  color: #FFF;
  padding-top: 170px;
}

#hos-banner__p {

  font-family: 'Canela';
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  // line-height: 72px;.
  line-height: 86px;
  /* identical to box height, or 75% */

  text-align: center;

  /* Base/White */

  color: #FFFFFF;
  padding: 1rem;
}

#hos-description__p {
  /* Text xl/Regular */

  // font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px; //20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Gray/200 */

  color: #EAECF0;
  padding: 1rem;
}

.hos-subscription-form {
  padding: 4vw 8vw;
}

#hos-privacy-policy {
  text-decoration: underline;
}

.hos-form-message{
  margin: 0 0% 0% 0;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 14px;
  gap: 8px;
  margin-bottom: 1rem;

  width: 360px;
  height: 48px;

  /* Base/White */

  background: #FFFFFF;
  /* Gray/300 */

  border: 1px solid #D0D5DD;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.hos-form-text-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 1rem;
}

.hos-subscription-form-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hos-form-message-title {
  font-family: 'Canela';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height, or 125% */


  /* Gray/900 */

  color: #101828;
  padding-bottom: 1rem;
}

.hos-form-subscribe-to {
  /* Text xl/Regular */

  // font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */


  /* Gray/600 */

  color: #475467;

  margin: 1rem;
}

.hos-form-we-care {
  /* Text sm/Regular */

  // font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */


  /* Gray/600 */

  color: #475467;
}

.hos-pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 8vw;
}

.hos-page-button {
  margin: 0.1rem;
  width: 40px;
  height: 40px;

  /* Gray/50 */

  background: #F9FAFB;
  border-radius: 8px;

  /* Text sm/Medium */

  // font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  text-align: center;

  /* Gray/600 */

  color: #475467;
}

.hos-page-button-arrows {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  gap: 8px;

  // width: 88px;
  height: 36px;

  /* Base/White */

  background: #FFFFFF;
  /* Gray/300 */

  border: 1px solid #D0D5DD;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  
  /* Text sm/Semibold */

  // font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */


  /* Gray/700 */

  color: #344054;
}

.hos-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 8vw;
}

.hos-container__blog__temp {
  width: 83vw;
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  
  // Default styling for every link and h2
  a {
    text-decoration: none;
  }
  
  h2 {
    font-weight: 600;
  }
}

.hos-blog-card {
  margin: 0;
  width: 28vw;
}

.hos-blog-image {
  height: 72vh;
  max-width: 54vh;
}

.hos-blog-content-words {
  padding: 1rem 0;
}

.hos-blog-author {
  display: flex;
  flex-direction:row;
  align-items: flex-start;
  padding-top: 1rem;
}

.hos-blog-author-text {
  padding: 0 1rem;
}

.hos-blog-title {
  /* Display xs/Semibold */

  // font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */


  /* Gray/900 */

  color: #101828;
  padding: 0;
}

.hos-blog-category {
  /* Text sm/Semibold */

  // font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */


  /* Primary/700 */

  color: #002C2A;
}

.hos-blog-author-name {
  /* Text sm/Semibold */

  // font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */


  /* Gray/900 */

  color: #101828;
}

.hos-blog-card-summary {
  /* Text md/Regular */

  // font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  /* Gray/600 */

  color: #475467;
}

.hos-template-blog-content__html {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;

  img {
    width: 100%;
  }

  p {
    padding: 1rem 0;
  }

  h1 {
    font-size: 36px;
  }

  h2,h3,h4 {
    font-size: 24px;
    font-weight: 700;
    padding: 1rem 0;
  }

  figcaption {
    font-size: 14px;
    padding-bottom: 1rem;
  }
}

.hos-form-submit {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;

  // width: 125px;
  height: 48px;

  /* Primary/600 */

  background: #003B38;
  /* Primary/600 */

  border: 1px solid #003B38;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  color: white;
}

.hos-form-text-field {
  display: flex;
  flex-direction: column;
}

.hos-pages-list-mobile  {
  display: none;
}

.hos-pages-list {
  display: block;
}


@media only screen and (max-width: 600px) {
  .hos-banner__text {
    padding-top: 20vh;
  }

  .hos-banner__p {
    font-family: 'Canela';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
  }

  // .hos-banner__text p {
  //   padding: 1rem;
  //   text-align: center;
  //   font-family: 'Work Sans';
  //   font-style: normal;
  //   font-weight: 600;
  //   font-size: 36px;
  //   line-height: 125%;
  // }

  .hos-blog-card {
    padding: 1rem 0;
    width: 100%;
  }

  .hos-container__blog__temp {
    flex-direction: column;
  }

  .hos-subscription-form-div {
    flex-direction: column;
  }

  .hos-form-message-title {
    margin: 1rem 0 0 0;
    padding: 0;
    font-family: 'Canela';
    font-style: normal;
    font-weight: 500;
    font-size: 34px; //36
    line-height: 44px;
    /* identical to box height, or 122% */


    /* Gray/900 */

    color: #101828;
  }

  .hos-form-submit {
    width: 100%;
  }

  .hos-form-text-div {
    flex-direction: column;
  }

  .hos-blog-image {
    height: 116vw;
    max-width: 87vw;
  }

  .hos-form-subscribe-to {
    margin-left: 0;
  }

  .hos-subscription-form {
    padding: 4vw 7vw;
  }

  .hos-form-message {
    width: 100%;
  }

  .hos-pages-list-mobile  {
    display: block;
    margin: auto;
    /* Text sm/Regular */

    // font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Gray/700 */

    color: #344054;
  }

  .hos-pages-list {
    display: none;
  }

  .hos-template-blog-content__html {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
  
    img {
      width: 100%;
    }
  
    p {
      padding: 1rem 0;
      /* Text md/Regular */

      // font-family: 'TT Norms Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */


      /* Gray/600 */

      color: #475467;
    }
  
    h1 {
      font-size: 36px;
    }
  
    h2,h3,h4 {
      padding: 1rem 0;

      /* Display xs/Semibold */

      // font-family: 'TT Norms Pro';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      /* or 133% */


      /* Gray/900 */

      color: #101828;
    }
  
    figcaption {
      padding-top: 0.2rem;
      padding-bottom: 1rem;

      /* Text sm/Regular */

      // font-family: 'TT Norms Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */


      /* Gray/600 */

      color: #475467;
    }
  }

}
