.hos-blog-template-banner {
  // min-height: 288px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80vh;

  .hos-blog-show-title {
    font-size: 36px;
    line-height: 125%;
    font-weight: 600;
    color: #020305; 
  }
}

.hos-template-image {
  max-height: 70vh;
  max-width: 25vw;
}

.hos-template-blog-content {
  padding: 0 25vw;
  // width: 50vw;
}

.hos-template-banner-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.hos-more-articles {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.hos-more-articles-box-header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.hos-more-articles-header-left {
  h2 {
    /* Display md/Semibold */

    // font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */

    letter-spacing: -0.02em;

    /* Gray/900 */

    color: #101828;
  }

  p {
    /* Text xl/Regular */

    // font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* Gray/600 */

    color: #475467;
  }
}

.hos-more-articles-header-right {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;

  // width: 97px;
  height: 48px;

  /* Primary/600 */

  background: #003B38;
  /* Primary/600 */

  border: 1px solid #003B38;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
    
  /* Text md/Semibold */

  // font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  /* Base/White */

  color: #FFFFFF;
}



// .hos-container__blog__temp > div {
//   box-sizing: border-box;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   // justify-content: space-between;
//   padding: 1.5em 0 3em;
// }

// .hos-container__blog__temp {
//   // @extend %font-work-sans;

//   // width: calc((864 / 1440) * 100vw);
//   // margin: 0 auto;
  
//   // Default styling for every link and h2
//   a {
//     text-decoration: none;
//   }
  
//   h2 {
//     font-weight: 600;
//   }
// }

.hos-blog-date {
  letter-spacing: .5px;
}

// .blog-content {
//   font-weight: 400;
//   font-size: 1.25rem;
//   line-height: 150%;

//   img {
//     width: 100%;
//   }

//   p, h1, h2, h3 {
//     max-width: 640px;
//     margin: 0 auto;
//   }

//   h1 {
//     font-size: 36px;
//   }

//   h2 {
//     font-size: 24px;
//   }
// }

.hos-blog-author-image {
  max-width: 2.5rem;
}

.hos-more-articles-box {
  background: linear-gradient(#F8F8F8, rgba(248, 248, 248, 0));
  margin: 3rem 0 2rem;
  // padding: 4rem 0;
  padding: 4rem 10vw;
}

.hos-more-articles-box-header {
  padding-bottom: 2rem;
}

.hos-template-blog-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hos-template-blog-button {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  margin: 0.1rem;
  gap: 8px;

  height: 40px;

  /* Base/White */

  background: #FFFFFF;
  /* Gray/300 */

  border: 1px solid #D0D5DD;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.hos-template-blog-footer-right {
  display: flex;
  flex-direction: row;
}

.hos-template-blog-footer-share-post {
  /* Text md/Semibold */

  // font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  /* Gray/500 */

  color: #667085;
  margin: 0.1rem;
}

.hos-template-footer-divider {
  margin: 0.5rem 0;
}

.hos-template-support-cause {
  padding: 32px;
  background-color: #F9FAFB;
  margin: 1rem 0;

  p {
    /* Text lg/Regular */

    // font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */


    /* Gray/600 */

    color: #475467;
  }
}

// @media screen and (max-width: 750px) {
//   .container__blog {
//     width: 90vw;
//   }

//   .container__blog__temp {
//     width: auto;
//     max-width: 680px;
//     margin: 0 1rem;
//   }
// }