.career-banner {
  height: 50vh;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
}

.career-banner__text {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #FFF;
}

.career-banner__text h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: clamp(2rem, 8vw, 6rem);
  letter-spacing: 1.5px;
  text-align: center;
}
