.career-banner {
  height: 50vh;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
}

.career-banner__text {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #FFF;
}

.career-banner__text p {
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
}

@media only screen and (max-width: 600px) {
  .career-banner__text p {
    padding:1rem;
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
  }
}
