// @import url("https://cdn-images.mailchimp.com/embedcode/classic-10_7.css");

/* INTRO_SECTION */

.organization-section-intro {
  justify-content: space-around;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;

}

.organization-intro-banner__text {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction:column;
  color: #FFF;
}

.organization-intro-banner__text h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 84px;
  letter-spacing: 1.5px;
  text-align: center;
}
.organization-intro-banner__text h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  padding:10px;
  text-align: center;
  letter-spacing: 1.5px;
}

/* SECTION_INTRO_MOBILE */

@media only screen and (max-width: 1015px) {
  .organization-section-intro {
    width: 100%;
    justify-content: center;
  }

  .organization-intro-banner__text h1 {
    font-size: 44px;
  }
}

