/* SECTION_JOBS */

.section-reason {
  width: 100%;
  margin: 0 auto;
  // padding: 50px 0;
  background:$white;
}

.section-jobs__sup-header {
  color: $black;
  font-size: 36px;
  text-align: center;
  font-weight: 600;
}

.section-jobs__header {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 3rem;
  font-size: 20px;
  text-align: center;
  
}

.section-jobs__list {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
}

.section-jobs__img-container,
.section-jobs__img-entrepreneurs-container {
  width: max-content;
  margin: 0 auto;
  /* for square paleblue */
  position: relative;
}

.section-jobs__block {
  // max-width: 90rem;
  // margin: 48px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 48px;
}

.section-jobs__img {
  // background-image: url(/images/socious-job-seeker.png);
  height: 489px;
  width: 263.191px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  z-index: 3;
  /* for z-index to work */
  position: relative;
}

.section-jobs__img-paleblue-square {
  background-color: rgb(229, 237, 255);
  border-radius: 5px;
  height: 226px;
  width: 321px;
  position: absolute;
  z-index: -1;
  left: -16px;
  top: 140px;
  transform: rotate(15deg);
}

.section-jobs__img-entrepreneurs {
  // background-image: url(/images/socious-entrepreneurs.png);
  height: 489px;
  width: 263.191px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  margin-right: 1rem;
  z-index: 4;
  /* for z-index to work */
  position: relative;
}

.section-jobs__img-entrepreneurs-paleblue-square {
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  height: 102px;
  width: 234.458px;
  left: 32px;
  top: 0px;
  background-color: rgb(229, 237, 255);
  border-radius: 5px;
}

.section-jobs__img-entrepreneurs-purple-square {
  position: absolute;
  box-sizing: border-box;
  z-index: 3;
  height: 53px;
  width: 151.708px;
  left: -37px;
  top: 400px;
  background-color: $primary;
  border-radius: 5px;
  transform: rotate(30deg);
}

.section-jobs__img-entrepreneurs-container--mobile {
  display: none;
}

.section-reason__list-item {
  display: flex;
  flex-direction: column;
  width:20em;
  height: 20em;
  justify-content: center;
  align-items: center;
  background: $extra-light-grey;
  border-radius: 20px;
  
}

.section-reason__list-container{
  display: flex;
  flex-direction: column;
  width:60%;
  justify-content: center;
  align-items: center;
  
}
.section-reason__list-jobs{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  // margin: 0 auto;
  

}

.section-reason__list-item-link {
  font-size: 20px;
  font-weight: 500;
  padding: 15px;
 
}
.section-reason__list-item-link a{
text-decoration: none;
color: #595959;
}

.section-reason__list-item-subtitle {
  font-size: 18px;
  color: r$black;
  font-weight: 400;
  text-align: center;
  line-height: 1.8rem;
  height: 6rem;
}

.section-reason__list-icon {
  color: $primary;
  border-radius: 100px;
  padding: 20px;
  // height: 24px;
  // margin-right: 10px;
}
.section-reason__list-icon svg{
  font-size: 50px;
}

/* END_SECTION_JOBS */

/* MOBILE JOBS SECTION */

@media only screen and (max-width: 1230px) {
  // .section-jobs__header {
  //   max-width: 20rem;
  // }

  .section-reason__list-jobs{
    flex-direction: column;
  
  }
  .section-reason__list-item {
     margin: 2% 0;
  }
  .section-jobs__list-container{
    width: 70%;
  }
}

@media only screen and (max-width: 1015px) {
  .section-jobs__block {
    flex-direction: column;
  }

  .section-jobs__list {
    width: 90%;
  }

  .section-jobs__img-entrepreneurs-container {
    display: none;
  }

  .section-jobs__img-entrepreneurs-container--mobile {
    display: block;
    position: relative;
  }

  .section-jobs__img-entrepreneurs--mobile {
    // background-image: url(/images/socious-entrepreneurs.png);
    height: 489px;
    width: 263.191px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px auto;
    z-index: 4;
  }

  .section-jobs__img-container,
  .section-jobs__img-entrepreneurs-container {
    width: max-content;
    margin: 0 auto;
  }

  .section-jobs__img {
    margin: 30px auto;
  }

  .section-jobs__img-entrepreneurs-paleblue-square {
    top: 19px;
  }

  .section-jobs__img-entrepreneurs-purple-square {
    left: 5px;
    top: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .section-jobs__img-paleblue-square {
    display: none;
  }
}

/* END_MOBILE_JOBS_SECTION */
