
.talents-item{
  width: 100%;
  // height: 20em;
  // margin: 0 5%;

}
.talents-section{
  padding: 20px;
  margin: 10% 0;
  background: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0) 73.56%);

}
.talents-image{
  margin: 5%;
}

.talents-slider{
  width: 100%;
  flex-wrap: wrap;
  
}
.talents-header{
  text-align: center;
  margin: 5% auto;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: -1px;
}

.talents-header span{
color: $green;
}

.talents-section-career{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  color: $black;
  font-size: 30px;
  font-weight: 200;

}
// .skills-section-career h3{
//   color: $black;
//   font-size: 30px;
//   font-weight: 200;

// }
.talents-section-career button{
  background: none rgb(0,186,136);
  border: 1px none $primary;
  text-align: center;
  color: $white;
  border-radius: 50px;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 18px;
}


// Media-queries for smaller screens

@media only screen and (max-width: 1230px) {
  .talents-header{
    font-size: 16px;
  }
  .talents-section-career{
    font-size: 18px;
  
  }
  .talents-image{
 width: 100%;
   margin: 0 10%;
  }
  // .talents-item{
    
  //   // height: 30em;
  //   // height: 20em;
  //   margin: 0 5%;
  
  // }
  // .talents-section-slider{
  //   width: 200%;
  // }
 


}
