.section-app-links {
  background-color: $primary;
  width: 100%;
  color: white;
  padding: 80px 0;
}

.section-app-links__wrapper {
  width: 80%;
  margin: auto;
}

.section-app-links__container {
  margin: 0 auto;
  max-width: max-content;
}

.section-app-links__header {
  font-size: 48px;
  margin: 2rem auto;
}

.section-app-links__subheader {
  font-weight: 400;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
// hire talents button
.section-app-links__app-links-button {
  background: none rgb(255, 255, 255);
  border: 1px none $primary;
  text-align: center;
  color: $primary;
  border-radius: 50px;
  padding: 12px 32px;
  margin: 0 1rem;
  cursor: pointer;
}
// green find work button
.section-app-links__app-links-button-work {
  background: none rgb(0,186,136);
  border: 1px none $primary;
  text-align: center;
  color: $white;
  border-radius: 50px;
  padding: 12px 33px;
  margin: 0 1rem;
  cursor: pointer;
}

.section-app-links__app-links-block {
  display: flex;
  flex-direction: row;
  margin: 5% auto;
  margin-bottom: 50px;
  width: max-content;
}

/* Override material icons */
.md-36 {
  font-size: 48px !important;
}

/* SECTION_APP_LINKS_MOBILE */

@media only screen and (max-width: 1015px) {
  .section-app-links__app-links-block {
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0;
  }

  .section-app-links__app-links-button{
    // margin-top: 20px;
    // padding: 10px 90px;
    /* Header/Work Sans/h3 */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;

    // padding: 12px 98px;
    width: 88vw;
    margin: 0 auto;
  }
  .section-app-links__app-links-button-work {
    width: 88vw;
    // padding: 12px 80px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin: 0 auto;
  }

  .section-app-links__app-links {
    display: flex;
    width: 100%;
    padding: 2vw 0 2vw 0;
  }
  .section-app-links__app-links-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-left: 10vw;
    // margin-right: 10vw;
    padding: 0;
    // width: 312px;
    margin: 0;
    margin-top: 5vw;
  }
}
