.section-app-links {
  background-color: $primary;
  width: 100%;
  color: white;
  padding: 80px 0;
}

.section-app-links__wrapper {
  width: 80%;
  margin: auto;
}

.section-app-links__container {
  margin: 0 auto;
  max-width: max-content;
}

.section-app-links__header {
  font-size: 48px;
  margin: 2rem auto;
}

.section-app-links__subheader {
  font-weight: 400;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.section-app-links__app-links-button {
  background: none rgb(255, 255, 255);
  border: 1px none $primary;
  text-align: center;
  color: $primary;
  border-radius: 3px;
  padding: 10px 30px;
  margin: 0 1rem;
  cursor: pointer;
}

.section-app-links__app-links-block {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 50px;
  width: max-content;
}

/* Override material icons */
.md-36 {
  font-size: 48px !important;
}

/* SECTION_APP_LINKS_MOBILE */

@media only screen and (max-width: 1015px) {
  .section-app-links__app-links-block {
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0;
  }

  .section-app-links__app-links-button:first-child {
    margin-bottom: 20px;
  }

  .section-app-links__app-links {
    display: flex;
  }
}
