.featured-in-item {
  max-height: 150px;
}

.featured-in-header{
  text-align: center;
  margin: 5% 0 2% 0;
  font-size: 36px;
  font-weight: 500;
}

@media only screen and (max-width: 1230px) {
  .featured-in-header{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    padding-top: 5vw;
    padding-bottom: 1vw;
  }
}