#sec-features::-webkit-scrollbar {
  width: 0 !important;
}

.section-features {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 10%;
}

.section-features__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  // width: 50%;

}

.section-features__list-image-container {
  width: 25em;
  height: 30em;
  margin: 0 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 50px;
  background: $extra-light-grey;
  border-radius: 20px;

}

.section-features__list-image-container-two {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto;

}


// .section-features__list-image{

// }

.section-features__list-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 20em;
  padding: 20px;
}

.section-features__list-slide {
  color: $primary;
  text-align: left;
}

.section-features__list-item-title {
  font-weight: 600;
  font-size: 30px;
  padding: 10px 0;
  letter-spacing: 0.5px;
  line-height: 1.8rem;

}

.section-features__list-item-subtitle {
  font-size: 18px;
  color: $black;
  padding: 10px 0;
  line-height: 1.8rem;
}

.section-features__list-item-link a {
  text-decoration: none;
  color: $green;
  font-size: 20px;
}

//call to action section
.job-action {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 50px;
  background: $primary-dark;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
}

.job-action__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;

}

.job-action__header {
  color: $white;
  font-weight: 550;
  text-align: center;
}

.job-action__get {
  background: $green;
  color: $white;
  border-radius: 50px;
  border: none;
  padding: 10px 30px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.job-action__subtitle {
  color: $white;
  text-align: center;
  font-weight: lighter;
  padding: 5px;
  line-height: 1.8rem;
}

.job-action__link {
  text-decoration: none;
  color: $white;
  font-size: 20px;
  font-weight: 600;

}

.job-action__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background: $white;
  border: '2px solid #000';
  box-shadow: 24;
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.job-action__modal-header {
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  line-height: 1.8rem;
  padding: 20px 0;
}

.job-action__modal-header a {
  text-decoration: none;
  color: $green;

}

.job-action__modal-image-holder {
  width: 50%;
  margin: 0 auto;
  border: solid 1px #E4E2E0;
  border-radius: 12px;
}

.job-action__modal-close {
  border-radius: 100px;
  border: none;
  text-align: right;
  right: 5%;
  top: 5%;
  position: absolute;
  color: #595959;

}

.job-action__modal-close:hover {
  background: none;
}


.job-action-links__app-links-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // margin: 5% auto;
  // margin-bottom: 50px;
  // width: 50%;

}


.job-action-links__app-links-button {
  background: none rgb(255, 255, 255);
  border: 1px none $primary;
  text-align: center;
  // color: $primary;
  // border-radius: 50px;
  // padding: 10px 30px;
  // margin: 0 1rem;
  cursor: pointer;
}

// Media-queries for smaller screens

@media only screen and (max-width: 1230px) {
  .section-features__list-item {
    flex-direction: column;
  }

  .section-features__list-video {
    width: 15em;
    height: 20em;
  }

  .section-features__list-item-title {
    font-size: 20px;

  }

  .section-features__list-item-subtitle {
    font-size: 16px;
  }

  .section-features__list-item-link a {
    font-size: 19px;
  }

  .section-features__list-content {
    width: 15em;
  }

  .job-action__container {
    width: 100%;
    padding: 20px;
  }

  //call-to-action
  .job-action {
    width: 100%;
    padding: 50px 0;
    border-radius: 0px;
  }

  .job-action__header {
    font-size: 24px;
    align-self: stretch;
  }

  .job-action__get {
    padding: 12px 42px;
  }

  //modal
  .job-action__modal-header {
    font-size: 16px;
  }

  .job-action__modal-image-holder {
    width: 100%;
  }

  .job-action-links__app-links-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5% auto;
    margin-bottom: 50px;
    width: 60%;

  }


}
