@import url("https://cdn-images.mailchimp.com/embedcode/classic-10_7.css");

/* INTRO_SECTION */

.section-intro {
  margin: 61px auto;
  max-width: 90rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}

.section-intro__app-image {
  // background-image: url('/images/socious-company.png');
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: cover;
  height: 763px;
  width: 420.13px;
  /* for squares*/
  position: relative;
  z-index: 3;
}

/* squares behind images */
.section-intro__app-image-blue-square {
  background-color: $primary;
  border-radius: 5px;
  height: 132px;
  width: 145px;
  position: absolute;
  z-index: 1;
  left: -14.8412px;
  top: -33px;
}

.section-intro__app-image-paleblue-square {
  background-color: rgb(228, 237, 254);
  border-radius: 5px;
  height: 398px;
  width: 278px;
  position: absolute;
  z-index: 2;
  left: 113px;
  top: 283px;
}

/* the main blocks of the intro sections */
.section-intro__block {
  font-family: "Inter", sans-serif;
  position: relative;
}

.section-intro__mailchimp {
  font-size: 36px;
}

/* mailchimp override */
.clear {
  max-width: 353px;
  margin-left: 0px !important;
}

.section-intro__mailchimp--blue {
  color: $primary;
}

.section-intro__mailchimp__form-container {
  margin-top: 37px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(171, 171, 171, 0.25);
  border-radius: 5px;
  box-shadow: rgb(170 170 170 / 50%) 0px 2px 4px 1px;
  padding: 10px;
}

.section-intro__mailchimp__form {
  margin-top: 23px;
}

.intro-right-section {
  display: flex;
  align-items: center;
}

/* END_SECTION_INTRO */

/* SECTION_INTRO_MOBILE */

@media only screen and (max-width: 1015px) {
  .section-intro {
    width: 95%;
    justify-content: center;
  }

  .section-intro__block {
    margin: 0 auto;
    text-align: center;
  }

  .section-intro__app-image {
    margin: 0 auto;
  }

  .section-intro__mailchimp__form-container {
    width: 100%;
    margin-bottom: 100px;
    padding: 0;
  }

  .square-1 {
    left: 42.1588px;
  }

  .square-2 {
    left: 141px;
  }
}

@media only screen and (max-width: 450px) {
  .section-intro__app-image {
    width: 100vw;
    height: 40rem;
    background-size: contain;
    background-position: 50% 50%;
  }

  .section-intro__app-image-blue-square {
    display: none;
  }

  .section-intro__app-image-paleblue-square {
    display: none;
  }
}

/* END_SECTION_INTRO_MOBILE */
