// @import url("https://cdn-images.mailchimp.com/embedcode/classic-10_7.css");

/* INTRO_SECTION */

.section-intro {
  justify-content: space-around;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;

}

.intro-banner__text {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  color: #FFF;
}

.intro-banner__text h1 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 125%;
  /* or 45px */

  text-align: center;
  letter-spacing: -1px;

}

.intro-banner__text h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  padding: 10px;
  text-align: center;
  letter-spacing: 1.5px;
}

.section-intro__app-image {
  // background-image: url('/images/socious-company.png');
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: cover;
  height: 763px;
  width: 420.13px;
  /* for squares*/
  position: relative;
  z-index: 3;
}


/* the main blocks of the intro sections */
.section-intro__block {
  font-family: "Inter", sans-serif;
  position: relative;
}

.section-intro__mailchimp {
  font-size: 36px;
}



.intro-right-section {
  display: flex;
  align-items: center;
}

/* END_SECTION_INTRO */

/* SECTION_INTRO_MOBILE */

@media only screen and (max-width: 1015px) {
  .section-intro {
    width: 100%;
    justify-content: center;
  }

  .section-intro__block {
    margin: 0 auto;
    text-align: center;
  }
  .intro-banner__text {
   
    width: 100%;
  
  }

  .intro-banner__text h1 {
    font-size: 44px;
    letter-spacing: -1px;
    font-weight: 200;
    width: 170%;
    padding: 10px;

  }
  .intro-banner__text h3 {
    width: 22em;
    line-height: 150%;
  }

  .section-intro__app-image {
    margin: 0 auto;
  }

  .section-intro__mailchimp__form-container {
    width: 100%;
    margin-bottom: 100px;
    padding: 0;
  }

  .square-1 {
    left: 42.1588px;
  }

  .square-2 {
    left: 141px;
  }
}

@media only screen and (max-width: 450px) {
  .section-intro__app-image {
    width: 100vw;
    height: 40rem;
    background-size: contain;
    background-position: 50% 50%;
  }

  .section-intro__app-image-blue-square {
    display: none;
  }

  .section-intro__app-image-paleblue-square {
    display: none;
  }
}

/* END_SECTION_INTRO_MOBILE */
