/* SECTION_JOBS */

.section-jobs {
  width: 80%;
  margin: 0 auto;
}

.section-jobs__sup-header {
  color: $primary;
  font-size: 16px;
}

.section-jobs__header {
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 2rem;
  font-size: 36px;
}

.section-jobs__img-container,
.section-jobs__img-entrepreneurs-container {
  width: max-content;
  margin: 0 auto;
  /* for square paleblue */
  position: relative;
}

.section-jobs__block {
  max-width: 90rem;
  margin: 48px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 48px;
}

.section-jobs__img {
  // background-image: url(/images/socious-job-seeker.png);
  height: 489px;
  width: 263.191px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  z-index: 3;
  /* for z-index to work */
  position: relative;
}

.section-jobs__img-paleblue-square {
  background-color: rgb(229, 237, 255);
  border-radius: 5px;
  height: 226px;
  width: 321px;
  position: absolute;
  z-index: -1;
  left: -16px;
  top: 140px;
  transform: rotate(15deg);
}

.section-jobs__img-entrepreneurs {
  // background-image: url(/images/socious-entrepreneurs.png);
  height: 489px;
  width: 263.191px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  margin-right: 1rem;
  z-index: 4;
  /* for z-index to work */
  position: relative;
}

.section-jobs__img-entrepreneurs-paleblue-square {
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  height: 102px;
  width: 234.458px;
  left: 32px;
  top: 0px;
  background-color: rgb(229, 237, 255);
  border-radius: 5px;
}

.section-jobs__img-entrepreneurs-purple-square {
  position: absolute;
  box-sizing: border-box;
  z-index: 3;
  height: 53px;
  width: 151.708px;
  left: -37px;
  top: 400px;
  background-color: $primary;
  border-radius: 5px;
  transform: rotate(30deg);
}

.section-jobs__img-entrepreneurs-container--mobile {
  display: none;
}

.section-jobs__list-item {
  margin-top: 79px;
  display: flex;
  flex-direction: row;
}

.section-jobs__list-item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.section-jobs__list-item-subtitle {
  font-size: 16px;
  color: rgb(107, 114, 128);
  font-weight: 400;
  max-width: 45rem;
  white-space: pre-line;
  line-height: 1.8rem;
}

.section-jobs__list-icon {
  background-color: $primary;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
  height: 24px;
  margin-right: 10px;
}

/* END_SECTION_JOBS */

/* MOBILE JOBS SECTION */

@media only screen and (max-width: 1230px) {
  .section-jobs__header {
    max-width: 40rem;
  }
}

@media only screen and (max-width: 1015px) {
  .section-jobs__block {
    flex-direction: column;
  }

  .section-jobs__list {
    width: 100%;
  }

  .section-jobs__img-entrepreneurs-container {
    display: none;
  }

  .section-jobs__img-entrepreneurs-container--mobile {
    display: block;
    position: relative;
  }

  .section-jobs__img-entrepreneurs--mobile {
    // background-image: url(/images/socious-entrepreneurs.png);
    height: 489px;
    width: 263.191px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px auto;
    z-index: 4;
  }

  .section-jobs__img-container,
  .section-jobs__img-entrepreneurs-container {
    width: max-content;
    margin: 0 auto;
  }

  .section-jobs__img {
    margin: 30px auto;
  }

  .section-jobs__img-entrepreneurs-paleblue-square {
    top: 19px;
  }

  .section-jobs__img-entrepreneurs-purple-square {
    left: 5px;
    top: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .section-jobs__img-paleblue-square {
    display: none;
  }
}

/* END_MOBILE_JOBS_SECTION */
