/* SECTION_ABOUT */

.latest-section-main {
  min-height: 70vh;
  padding: 3rem 0;
  margin: 0 auto;
  background: $extra-light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.latest-company-dot {
  height: 5px;
  width: 5px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  margin: 0.2em;
}

.latest-title {
  color: $black;
  text-align: center;
  padding: 2rem;
}

.latest-title h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.about-title h2 {
  font-size: 24px;
}

.about-title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 3rem;
  margin: 0 auto;
  padding: 2rem;
  width: 50%;
}
.latest-section{
  width: 50%;
}

.latest-item {
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
  padding: 2rem 0;
  background: $white;
  border-radius: 20px;
  border-top: $dark-grey;
}

.latest-image {
  width: 10rem;
  height: 50%;
  display: flex;
  justify-content: flex-end;
}

.latest-link{
  background: none;
  border: none;
  color: $green;
  margin-right: -10%;
  cursor: pointer;
  width: 20%;
  display: flex;
  justify-content: flex-start;
}
.latest-more{
  background: $primary;
  border: none;
  color: $white;
  margin: 5% auto;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 50px;

}

.about-image img {
  width: 100%;
  max-height: 30rem;
}

.latest-info {
  // max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.latest-header {
  color: $black;
  font-weight: 600;
}

.about-content {
  width: 100%;
}

.about-content p {
  font-weight: 400;
  line-height: 2rem;
  font-size: 1rem;
}
/* SECTION_ABOUT_END */

/* SECTION_ABOUT_MOBILE */

@media only screen and (max-width: 1500px) {
  .about-info {
    max-width: 30rem;
  }
  .latest-item {
    width: 100%; 

  }
  .latest-section {
    width: 90%;
  }
  .latest-image {
    width: 4rem;
    padding-left: 10px;
    // height: 50%;
 
  }
  .latest-header, .latest-content{
    font-size: 16px;
  }
  .locations{
    width: "100%";
    border: solid 1px black;
    // position: absolute;
    // margin-top: 30%;
    right: 30%;
    display: flex;

   
  }

 
}

@media only screen and (max-width: 1150px) {
  .about-section {
    max-width: 80%;
  }

  .about-title {
    font-size: 1rem;
  }

  .about-title p {
    width: 75%;
  }
  
  .about-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-image {
    width: 100%;
  }

  .latest-title {
    padding: 0 0 2rem 0;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
  }

  .latest-section-main {
    padding-top: 10vw;
  }
}

@media only screen and (max-width: 602px) {
  .about-title h2 {
    font-size: 2rem;
  }
  .latest-link{
    display: none;
  }
  
  .latest-section-main {
    padding-bottom: 10vw;
  }

  .latest-more {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;

    padding: 0;
    margin: 0;
    margin-top: 5vw;
    width: 80vw;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/* SECTION_ABOUT_MOBILE_END */
