
.skills-item{
  width: 100%;
  // height: 20em;
  margin: 0 5%;

}
.skill-section{
  padding: 20px;
}
.skills-image{
  margin: 5%;
}

.skills-slider{
  width: 100%;
  flex-wrap: wrap;
  
}
.skills-header{
  text-align: center;
  margin: 5% auto;
  font-size: 36px;
  font-weight: 500;
}

.skills-section-career{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  color: $black;
  font-size: 30px;
  font-weight: 200;

}

.skills-section-career button{
  background: none rgb(0,186,136);
  border: 1px none $primary;
  text-align: center;
  color: $white;
  border-radius: 50px;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 18px;
}


// Media-queries for smaller screens

@media only screen and (max-width: 1230px) {
  .skills-header{
    font-size: 18px;
  }
  .skills-section-career{
    font-size: 18px;
  
  }
 


}
