@use 'fonts';

.container__blog {
  @extend %font-work-sans;

  box-sizing: border-box;
  width: 60vw;
  margin-left: 1rem;
  margin-right: 1rem;
  
  // Default styling for every link and h2
  a {
    text-decoration: none;
  }

  h1 {
    font-weight: 600;
  }

  h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    padding-bottom: 0.5em;
  }
}

// .article-info p{
//   padding-top: 20px;

// }
// .article-info h1{
//   font-size: 25px;

// }

.container__blog__temp {
  @extend %font-work-sans;

  // width: calc((864 / 1440) * 100vw);
  width: 60vw;
  margin: 0 auto;
  
  // Default styling for every link and h2
  a {
    text-decoration: none;
  }
  
  h2 {
    font-weight: 600;
  }
}

@media screen and (max-width: 750px) {
  .container__blog {
    width: 90vw;
  }

  .container__blog__temp {
    width: auto;
    max-width: 680px;
    margin: 0 1rem;
  }
}
