.container__blog { 
  h2 {
    font-size: 36px;
    line-height: 125%;
    letter-spacing: -1px;
  }

}


.blogs-list {
  padding: 3rem 0;
  margin-bottom: 1rem;

  .load-more {
    padding: 12px 32px;
    border-radius: 50px;
    background-color: #00BA88;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    color: #FFFFFF;
    border: 0;
    display: block;
    margin: 5rem auto;
  }
}

// ALL BLOG CARDS
.blog-card {
  margin-bottom: 2em;
  border-bottom: 1px solid #E4E2E0;

  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;  

    color:black;
  }
  img {
    width: 30%;
    max-width: 304px;
  }
}