/* SECTION_ABOUT */

.about-section {
  min-height: 50vh;
  padding: 0 0;
  margin: 0 auto;
  margin-bottom: 8vw;
}


.about-title {
  color: $black;
  text-align: center;
  padding: 2rem;
}

.about-title h2 {
  font-size: 24px;
}

.about-title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 3rem;
  margin: 0 auto;
  padding: 2rem;
  width: 50%;
}

.about-item {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 5rem 0;
  background: $extra-light-grey;
  border-radius: 20px;
  width: 50%;
  border-top: $dark-grey;
}

.about-image {
  width: 10rem;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  // justify-content: flex-end;
  padding: 1rem;
}

.about-image img {
  width: 100%;
  max-height: 30rem;
}

.about-info {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.about-header {
  color: $black;
  font-weight: 600;
}

.about-content {
  width: 100%;
}

.about-content p {
  font-weight: 400;
  line-height: 2rem;
  font-size: 1rem;
}
/* SECTION_ABOUT_END */

/* SECTION_ABOUT_MOBILE */

@media only screen and (max-width: 1500px) {
  .about-info {
    max-width: 30rem;
  }
  .about-item {
    width: 100%;
    

  }
}

@media only screen and (max-width: 1150px) {
  .about-section {
    max-width: 80%;
  }

  .about-title {
    font-size: 1rem;
  }

  .about-title p {
    width: 75%;
  }
  
  .about-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-image {
    width: 100%;
  }
}

@media only screen and (max-width: 602px) {
  .about-title h2 {
    font-size: 2rem;
  }

  .about-item {
    padding: 0;
  }
}

/* SECTION_ABOUT_MOBILE_END */
