/* SECTION_ABOUT */

.about-section {
  min-height: 50vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
}

.about-title {
  color: #FFF;
  text-align: center;
  text-shadow: 0 0.2rem 0.5rem $light-grey;

  background-color: $primary;
  padding: 2rem;
}

.about-title h2 {
  font-size: 3rem;
}

.about-title p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 3rem;
  margin: 0 auto;
  padding: 2rem;
  width: 50%;
}

.about-item {
  display: flex;
  margin-top: 2rem;
  padding-top: 2rem;

  border-top: $dark-grey;
}

.about-image {
  width: 30rem;
  height: 50%;

  display: flex;
  justify-content: flex-end;
}

.about-image img {
  width: 100%;
  max-height: 30rem;
}

.about-info {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-header {
  width: 100%;
  color: $primary;
}

.about-content {
  width: 100%;
}

.about-content p {
  font-weight: 400;
  line-height: 2rem;
  font-size: 1rem;
}
/* SECTION_ABOUT_END */

/* SECTION_ABOUT_MOBILE */

@media only screen and (max-width: 1500px) {
  .about-info {
    max-width: 30rem;
  }
}

@media only screen and (max-width: 1150px) {
  .about-section {
    max-width: 80%;
  }

  .about-title {
    font-size: 1rem;
  }

  .about-title p {
    width: 75%;
  }
  
  .about-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-image {
    width: 100%;
  }
}

@media only screen and (max-width: 602px) {
  .about-title h2 {
    font-size: 2rem;
  }
}

/* SECTION_ABOUT_MOBILE_END */
