/* SECTION_HERO */

.hero-section {
  height: 50vh;
  display: flex;
  padding-top: 30px;
  // justify-content: center;
  // flex-direction: row-reverse;

}


// .hero-image{
//   width: 100%;
// }

.hero-text {
  height: 100%;
  min-width: 10rem;
  max-width: 46rem;
  margin: 0 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;


}

.hero-text h5 {
  font-size: 2rem;
  margin: 0;
  color: $primary;
  text-transform: uppercase;
}

.hero-text h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 44px;
  letter-spacing: 1.5px;
}

/* SECTION_HERO_END */

/* SECTION_HERO_MOBILE */

@media only screen and (max-width: 1350px) {
  .hero-text-header {
    font-size: 16px;
  }

.hero-section {
  flex-direction: column;
  padding: 20px;

}
.hero-text h1 {
  font-size: 30px;

}

}

@media only screen and (max-width: 900px) {
  .hero-text h5 {
    font-size: 1.5rem;
  }
  
  .hero-text h1 {
    font-weight: 700;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .hero-text {
    margin: 0 4rem;
  }
}

/* SECTION_HERO_MOBILE_END */
