/* SECTION_HERO */

.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
}

.hero-text {
  height: 100%;
  min-width: 10rem;
  max-width: 46rem;
  margin: 0 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFF;
}

.hero-text h5 {
  font-size: 2rem;
  margin: 0;
}

.hero-text h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 4rem;
  letter-spacing: 1.5px;
}

/* SECTION_HERO_END */

/* SECTION_HERO_MOBILE */

@media only screen and (max-width: 1350px) {
  .hero-text h5 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .hero-text h5 {
    font-size: 1.5rem;
  }
  
  .hero-text h1 {
    font-weight: 700;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .hero-text {
    margin: 0 4rem;
  }
}

/* SECTION_HERO_MOBILE_END */
