/* SECTION_ISSUES */

.issue-section {
  height: max-content;
  width: 100%;
}

.issue-banner {
  height: 100%;
  width: 100%;
  display: flex;
}

.issue-banner__image {
  min-height: 50vh;
  width: 50%;

  background-size: cover;
  background-position: 50% 50%;
}

.issue-banner__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15rem;
}

.issue-banner__content h2 {
  width: 90%;

  font-size: 3rem;
}

.issue-banner__content p {
  width: 80%;
  font-size: 1.4rem;

  font-weight: 400;
  line-height: 3rem;

  padding-bottom: 1rem;
}

.issue-item {
  width: 75%;
  margin: 3rem auto;

  display: flex;
  justify-content: center;
}

.issue-item__header {
  width: 25%;
  height: 100%;

  padding: 1rem;
  margin-right: 3rem;

  text-align: center;
  border-right: 2px solid #A1C1DB;
}

.issue-item__header h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1rem auto;
  color: $primary;
}

.issue-item__content {
  width: 50%;
  border-bottom: 1px solid #2669a02c;
  display: flex;
  align-items: center;
}

.issue-item__content p {
  margin-top: 0;
  font-weight: 400;
  line-height: 2rem;
}

/* SECTION_ISSUES_END */

/* SECTION_ISSUES_MOBILE */

@media only screen and (max-width: 1170px) {
  .issue-banner {
    flex-direction: column;
    margin-top: 0;
  }

  .issue-banner__image {
    width: 100%;
    min-height: 40vh;
  }

  .issue-banner__content {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }

  .issue-banner__content h2 {
    font-size: clamp(1.5rem, 10vw, 3rem);
    text-align: center;
  }
  
  .issue-banner__content p {
    font-size: clamp(1rem, 5vw, 1.5rem);
  }

  .issue-item {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
  }

  .issue-item__header {
    width: 100%;
    margin-right: 0;
    border-right: none;
  }

  .issue-item__content {
    width: 100%;
    padding: 2rem;
    text-align: center;
    border: none;
  }

}

/* SECTION_ISSUES_MOBILE_END */
