/* SECTION_VISION */

.vision-section {
  height: 60vh;
  display: flex;
  background-color: $primary;
  color: #FFF;
}

.vision-content {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.vision-image {
  min-width: 60%;
  background-size: cover;
  background-position: 50% 50%;
}

.content-header {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-right: 3rem;

  font-size: 3rem;
  text-shadow: 0 0.2rem 0.5rem $light-grey;
}

.content-main {
  width: 70%;
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: clamp(1.3rem, 3.5vw, 3rem);
  line-height: 6rem;

  text-shadow: 0 0.2rem 0.2rem $light-grey;
}
/* SECTION_VISION_END */

/* SECTION_VISION_MOBILE */

@media only screen and (max-width: 1015px) {
  .vision-section {
    width: 100%;
    flex-direction: column;
    height: max-content;
  }

  .vision-image {
    height: 100%;
}
  
  .vision-content {
    width: 70%;
    margin: 0 auto;
  }

  .content-header {
    width: 100%;
    height: 15rem;
    text-align: center;
    padding-right: 0;

    font-size: 2rem;
  }

  .content-main {
    width: 100%;
    text-align: center;
    line-height: 4rem;
  }
}

/* SECTION_VISION_MOBILE_END */
